body {
  background: url("../../img/running.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 700px;
  margin: 10px auto 30px;
  text-align: center;
}

.inputs-row {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
}

input {
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.add-workout-button {
  width: 100px;
  height: 55px;
  background-color: black;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  margin-top: 37px;
  margin-left: 20px;
  cursor: pointer;
}

.add-workout-button:active {
  transform: scale(0.95);
}

.workouts-table {
  width: 100%;
  margin-top: 40px;
}

.workouts-table__titles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.workouts-table__title,
.workout {
  width: 30%;
}

.workouts-table__content {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
}

.workouts-table__workout {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 15px;
}

.workout-delete {
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.workout-delete:active {
  transform: scale(0.8);
}
